<app-header></app-header>
<div class="container">
  <h3>Lista de clientes </h3>
  <button type="button" class="btn btn-primary"(click)="nuevocliente()">Crear nuevo cliente</button>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">nombre</th>
              <th scope="col">apellido</th>
              <th scope="col">documento</th>
              <th scope="col">telefono</th>
              <th scope="col">sexo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of  clientess" (click)="editarCliente(cliente.idCliente)">
              <th scope="row">{{cliente?.idCliente}}</th>
            
              <td>{{cliente?.name}}</td>
              <td>{{cliente?.apellido}}</td>
              <td>{{cliente?.documento}}</td>
              <td>{{cliente?.telefono}}</td>
              <td>{{cliente?.sexo}}</td>
            </tr>
           
         
          </tbody>
        </table>
      </div>
